extends layout

block content
    h2.result-title Resultados del simulacro.
    .result-summary
        if rights >= 35
            p.result-summary__approved Aprobado!
        else
            p.result-summary__disapproved Desaprobado!
    .result-body
        .result-body__item
            .result-body__item__label Puntuación
            .result-body__item__number #{rights}
        .result-body__item
            .result-body__item__label Porcentaje de acierto
            .result-body__item__number #{percentage} %
        .result-body__item
            canvas(id="result-bar" width="500" height="400")
    .result-reviewed
        .result-reviewed__title Aciertos por pregunta
        .result-reviewed__body
            - var i = 1
            - var reviews = JSON.parse(reviewed)
            while i <= 40
                if reviews[i-1]
                    .result-reviewed__item.result-reviewed__item--true
                        p #{i}
                else
                    .result-reviewed__item.result-reviewed__item--false
                        p #{i}
                - i++

    .navigation
        a.navigation__btn(href="javascript:history.go(-1)") Corregir
        a.navigation__btn.navigation__btn--green(href="/simulador") Inicio
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
    script.
        var ctx = document.getElementById('result-bar').getContext('2d');
        ctx.width = 500;
        ctx.height = 400;
        new Chart(ctx, {
            "type":"bar",
            "data":{
                "labels":["Correctas","Incorrectas"],
                "datasets":[
                    {
                        "label":"Balance de respuestas",
                        "data":[#{rights},#{incorrect}],
                        "fill":false,"backgroundColor":[
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(255, 99, 132, 0.2)"],
                        "borderColor":[
                            "rgb(75, 192, 192)",
                            "rgb(255, 99, 132)"],
                        "borderWidth":1
                    }]
        },
        "options":
            {
                "scales":
                {
                    "yAxes":[
                        {
                            "ticks":{
                                "beginAtZero":true
                            }
                        }
                    ]
                },
                "responsive": true,
                "maintainAspectRatio": false
            }
        });

