extends layout

block content
    include partials/chronometer
    script.
        var questionData = !{JSON.stringify(questions)}
    .questions.container
        - var i = 0
        while i < questions.length
            .question
                p.question__theme #{questions[i].theme}
                p.question__statement  #{ i + 1 }) #{questions[i].statement}
                if questions[i].image
                    .question__image
                        img(src=questions[i].image)
                .question__alternatives
                    .alternative
                        input(type='radio' name='question' + i value='a' id='a' + i)
                        if questions[i].alternatives.a
                            label(for='a'+ i)  a) #{questions[i].alternatives.a}
                        else
                            label(for='a'+ i)
                                img(src=questions[i].alternatives.a_img)
                    .alternative
                        input(type='radio' name='question' + i value='b' id='b' + i)
                        if questions[i].alternatives.b
                            label(for='a' + i)  b) #{questions[i].alternatives.b}
                        else
                            label(for='a' + i)
                                img(src=questions[i].alternatives.b_img)
                    .alternative
                        input(type='radio' name='question' + i value='c' id='c' + i)
                        if questions[i].alternatives.c
                            label(for='a' + i)  c) #{questions[i].alternatives.c}
                        else
                            label(for='a' + i)
                                img(src=questions[i].alternatives.c_img)
                    .alternative
                        input(type='radio' name='question' + i value='d' id='d' + i)
                        if questions[i].alternatives.d
                            label(for='a' + i)  d) #{questions[i].alternatives.d}
                        else
                            label(for='a' + i)
                                img(src=questions[i].alternatives.d_img)
            -i++
        button.btn-check Simulacro Completo
    script.
        var chr = document.querySelector('.chronometer');
        var questions = document.querySelector('.questions');
        window.document.body.onscroll = function () {
            if((window.pageYOffset || document.documentElement.scrollTop) > 80){
                chr.classList.add('chronometer--sticky');
                questions.style.marginTop = "80px";
            }else{
                chr.classList.remove('chronometer--sticky');
                questions.style.marginTop = "0px";
            }
        }
